.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%; /* Make sure to fill all the space */
  height: 100%; /* Make sure to fill all the space */
}

.Screen {
  flex: 1;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 12vw;
}

.Panel {
  flex: 4;
  display: flex;
  flex-flow: column nowrap;
}

.PanelRow {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

button {
  flex: 1 1 10px;
  background-color: dimgray;
  font-size: 5vw;
  color: white;
  margin: 0;
  padding: 0px;
  text-align: center;
}

.wide { /* for 0 button */
  flex: 2 2 20px;
}

.gray {
  background-color: gray;
  color: black;
}

.orange {
  background-color: orange;
}
